.container-service {
    position: relative;
    width: 100%;
  }
  
  .image-service {
    display: block;
    width: 100%;
    height: auto;
   
  }
  
  .overlay-service {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container-service:hover .overlay-service {
    bottom: 0;
    height: 100%;
    backdrop-filter: blur(5px);
  }
  
  .text-service {
   

    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }
  .bg-ap{
    background-color:rgb(235, 84, 84);
}
.zoom {
    
    
  transition: transform .2s; /* Animation */
  
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.bg-photo1{
  background-image: url("./bgphoto.jpg");
}
.bg-photo2{
  background-image: url("./overr.webp");
}

.bg-photo3{
  background-image: url("./happyPatient.jpg");
}
.bg-photo4{
  background-image: url("./cover4.jpg");
}
.b-p{
  backdrop-filter: blur(3px);
}