.container2 {
    position: relative;
    width: 100%;
  }
  
  .image1 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgb(199, 218, 252);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container2:hover .overlay1 {
    width: 100%;
    left: 0;
  }
  
  .text1 {
    white-space: nowrap; 
    
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }