.b-color{
    color: rgb(55, 189, 230) ;
}
.bg-l{
   background-color: rgb(55, 189, 230); 
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;
}